* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: rgba(223, 221, 207, 0.986);
}

h1, h3 {
    text-align: center;
}

.home-recipe-list {
    text-align: center;
}

img {
    width: 50%;
    margin: auto;
    display: block;
}

.top-text {
    text-align: center;
}

.main-content {
    padding: 20px 480px 20px 480px;
}

.small-text {
    font-size: 12px;
    text-align: center;
}